{% extends 'tema_30/includes/headers.html' %}

{% block content %}

    <div class="container mt-5 section1">

        <div class="d-flex align-items-center justify-content-around">
            <a href="{% url 'books' %}" class="btn btn-outline-light btn -sm">inapoi <i class="ri-arrow-left-line"></i></a>

            <h1 class="fw-bolder">editare carte: <strong class="text-success">{{ book.name }}</strong></h1>
        </div>

        <hr>

        <form method="POST" id="editForm">

            {% csrf_token %}

            <input type="text" name="name" id="bookName" class="form-control mb-3" placeholder="nume nou">
            <span class="nameError text-danger small"></span>

            <!-- https://docs.djangoproject.com/en/6.0/topics/forms/#rendering-fields-manually -->
            {% for error in form.name.errors %}
                <span class="text-danger small">{{ error }}</span>
            {% endfor %}

            <br>

            <button type="submit" class="btn btn-outline-success btn-sm"> salvare <i class="ri-save-fill"></i></button>

        </form>

    </div>

{% endblock %}
